.ime-buffer {
    border: none;
	outline: none;
	background: #FFFFFF;
	color: #171717;
	font-weight: 600;
	padding: 3px 10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	word-break: break-all;
	caret-color: transparent;
	font-size: 14px;
}

#input-area {
	width: 500px;
	height: 50px;
	background: lightcyan;
	line-height: 15px;
	font-size: 14px;
}

#candidate-contaier {
	position: absolute;
	display: none;
	background: #FFFFFF;
	color: #171717;
	font-weight: 400;
	padding: 3px 10px;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	font-size: 16px;
}

.ime-container {
	font-size: 14px;
	position: absolute;
	display: block;
	z-index: -1;
	left: 15px;
	top: 15px;
}